<div class="add-row-editable-table">
  <a class="btn btn-info" ng-href="#/clusterForm/addCluster">Add Cluster</a> 
</div>
<!-- <div class="row ">
<table class="table table-hover">
  <tr class="black-muted-bg">
    <td>ID</td>
    <td>Cluster Name</td>
    <td>Distribution</td>
    <td>Cluster IP</td>    
    <td>Actions</td>
  </tr>
  <tr ng-repeat="cluster in clusterTableData" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
       <span editable-text="cluster.name" e-name="name" e-form="rowform" e-required>{{ cluster.name || 'empty' }} </span>
     </td>
     <td> <span editable-text="cluster.distribution.name" e-name="distributionName" e-form="rowform" e-required>{{ cluster.distribution.name || 'empty' }} </span>
     </td>
    <td class="select-td"> <span editable-text="cluster.clusterIpAddr" e-name="clusterIpAddr" e-form="rowform" e-required>{{ cluster.clusterIpAddr || 'empty' }} </span>
           
    </td>

     <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == cluster">
        <button type="submit" ng-disabled="rowform.$waiting" ng-click="sendData($index)" class="btn btn-primary editable-table-button btn-xs">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      <div class="btn-group" ng-show="!rowform.$visible">
                <button title="Edit Cluster" type="button" class="btn btn-default btn" ng-click="rowform.$show()"><i class="glyphicon glyphicon-pencil"></i></button>  
                <button title="Remove Cluster" type="button" class="btn btn-default btn" ng-click="removecluster($index)"><i class="glyphicon glyphicon-trash"></i></button> 
                <button title="Test Cluster Connection" type="button" class="btn btn-default btn" ng-click="testConnection($index)"><i class="glyphicon glyphicon-cloud-upload"></i></button> 
      </div>
    </td>
  </tr>
</table>
</div>  -->

<div class="row">
 <div id="grid1" ui-grid="gridOptions1" ui-grid-importer
                              class="grid" ui-grid-edit ui-grid-row-edit
                              ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize></div>
</div>



