<!-- <div class="row">
  <div id = "grid1" ui-grid="gridOptions1" ui-grid-importer class="grid" ui-grid-edit ui-grid-row-edit></div>
</div> -->

<div class="row">
 <style type="text/css" scoped>
        .ui-grid-header-cell { height:60px;
max-height:60px; } 
    </style> 
<div id="grid1" ui-grid="gridOptions1" ui-grid-importer
                              class="grid" ui-grid-edit ui-grid-row-edit
                              ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize ></div>
</div>

<div class="row">
  <div id="outer" style="width:100%; text-align: center; padding-bottom: 5px; padding-top: 5px;">

        <div class="form-group" style="display: inline-block;">
          <select class="form-control" title="Select Job">
            <option>Spark Job 1</option>
            <option>Spark Job 2</option>
            <option>Spark Job 3</option>
          </select>
        </div>

        <div class="form-group" style="display: inline-block;">
          <select class="form-control" title="Select Cluster">
            <option>Cluster 1</option>
            <option>Cluster 2</option>
            <option>Cluster 3</option>
          </select>
        </div>
        <div class="inner" style="display: inline-block;"><button type="submit" class="btn btn-info" ng-click="testConnection()">Test Connection</button></div>
        <div class="inner" style="display: inline-block;"><button type="submit" class="btn btn-info" ng-click = "addCluster()">Run Job</button></div>
                <!-- <div class="inner" style="display: inline-block;"><textarea rows="1" cols="30">
Paramaters
</textarea></div> -->
        
  </div>
 </div> 
<div class="row">
 <div id="grid2" ui-grid="gridOptions2" ui-grid-importer
                              class="grid" ui-grid-edit ui-grid-row-edit
                              ui-grid-selection ui-grid-exporter ui-grid-pagination ui-grid-auto-resize></div>
</div>

 