<div class="row">
 <div class="col-sm-4"> </div> 
    
  <div class="col-sm-4">

  <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-default">Job Type</button>
      <button type="button" class="btn btn-default " uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul uib-dropdown-menu uib-dropdown-menu>
        <li><a href>Action</a></li>
        <li><a href>Another action</a></li>
        <li><a href>Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href>Separated link</a></li>
      </ul>
    </div>
    
  <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button type="button" class="btn btn-default">Distribution</button>
      <button type="button" class="btn btn-default " uib-dropdown-toggle>
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul uib-dropdown-menu uib-dropdown-menu>
        <li><a href>Action</a></li>
        <li><a href>Another action</a></li>
        <li><a href>Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href>Separated link</a></li>
      </ul>
    </div>
     <br></br>
    <div class="form-group">

        <input type="text" class="form-control" id="clusterName" placeholder="Cluster Name">
        <br></br>
        <input type="text" class="form-control" id="serverAddress" placeholder="Server Address">
        <br></br>
        <!-- <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        <br></br> -->
        <button type="submit" class="btn btn-info">Test Connection</button>
        <button type="submit" class="btn btn-info">Add</button>
        <button type="submit" class="btn btn-info">Clear</button>
    </div>
    
  </div>
  <!-- <div class="col-sm-4">
    <div class="form-group">
      <label for="inputFirstName">Cluster Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <label for="inputFirstName">Cluster Name</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
  </div> -->
  <!-- <div class="col-sm-6">
    <div class="form-group">
      <label for="inputLastName">Cluster IP</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
  </div> -->
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputFirstName">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputWebsite">Website</label>
      <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
    </div>
  </div>
</div> -->
