<div class="row">
 <div class="col-sm-4"> </div> 
    
  <div class="col-sm-4">

 <div class="form-group">
    <select class="form-control" title="Select Cluster">
      <option>Hadoop</option>
      <option>Spark</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" title="Select Distribution">
      <option>Cloudera</option>
    </select>
  </div>

  <form ng-controller="ClusterFormCtrl">
  <div class="form-group" >
         <input type="text" class="form-control" id="clusterName" ng-model="clusterName" placeholder="ClusterName">
        <br></br>
        <input type="text" class="form-control" id="serverIP" ng-model="serverIP" placeholder="Server Address">
        <br></br>

        <button type="submit" class="btn btn-info" ng-click = "addCluster()">Add Cluster</button>
        <button type="submit" class="btn btn-info" ng-click="testConnection()">Test Cluster Connection</button>
    </div>
    </form>
  </div>
</div>



