<!-- <div class="widgets" style="height:200px; height: auto;">
    <div class="col-md-12" ba-panel  ba-panel-title="Clusters" style="height:200px; height: auto;">
      <cluster></cluster>      
    </div>
</div> -->


<div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Smart Table With Filtering, Sorting And Pagination" ba-panel-class="with-scroll">
        <!-- <div include-with-scope="app/pages/tables/widgets/smartTable.html"></div> -->

        <cluster></cluster>
      </div>
    </div>
  </div>